/* Reset básico */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Listas */
ul, ol {
  list-style: none;
}
